
.folha a { text-decoration: none; color: #999; }
.folha a:hover { text-decoration: underline; }

.folha p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

.folha h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.folha h1 { font-size: 3em;  }
.folha h2 { font-size: 2.7em; }
.folha h3 { font-size: 2.3em; }
.folha h4 { font-size: 1.9em; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }