.clear {
	clear:both;
}

a, a:hover, a:visited, a:active {
	color:#709399;
	text-decoration: none;
}

#wrapper, .wrapper-mid {
	background: none;
}

.wrapper-top, .wrapper-bottom  {
	display:none;
}

#paper {
	width:820px;
	margin:0 auto;
}

.paper-top, .paper-bottom {
	display:none;
}

#paper-mid {
	width:820px;
	margin:0 auto;
	background-color:#FFF;
	display:block;
	overflow: hidden;
}

.entry {
	width:200px;
	display: block;
	clear: both;
	float: left;
}

h1 {
	width:500px;
	font-size:42pt;
	color:#315a60;
}

h1 span {
	font-size:21pt;
	display:block;
	color:#315a60;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	margin:0;
	clear:both;
	font-size:22pt;
	color:#315a60;
}

p {
	width:600px;
	float:right;
}

ul.list {
	clear: both;
	margin:0;
	overflow: hidden;
}

ul.list li {
	display:block;
	float:right;
}


h3 {
	width:180px;
	text-align: right;
	float:left;
	clear:both;
	font-size: 13pt;
	color:black;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#999;
	font-size:12pt;
	display: block;
}

ul.info {
	float:right;
	width:600px;
	background: none;
	list-style: square;
	
}

ul.info li {
	margin:0;
	float:left;
	display: block;
	width:600px;
	background-position: 0 .5em;
	list-style-type: square;
}

ul.skills {
	margin:0;
	float:right;
	width:600px;
	background: none;
	list-style: square;
}

ul.skills li {
	margin:0;
	float:left;
	width:176px;
	background-position: 0 .5em;
}

img.portrait {
	border:1px solid #000;
}

.self {
	width:500px;
	float:left;
}


.self ul li {
	background-repeat: no-repeat;
	background-position: 0 .1em;
	height:25px;
	display:block;
}

.social {
	display:none;
}

/* ELEMENTS */
/* ----------------------------------------- */

table {
	width: 590px;
	float:right;
	border-collapse: collapse;
	border-bottom:1px dashed #999;
	border-top:1px dashed #999;
}

table td {
	border-right:1px dashed #999;
}

table td:hover {
	background-color: #f2f2f2;
}

table th {
	color:#709399;
	text-align: left;
	border-right:1px dashed #999;
}

table td.center {
	text-align: center;
}

table td.last {
	background: none;
}

table th.center {
	text-align: center;
}

table th.last {
	background: none;
}

table tr {
	border-left:1px dashed #999;
	border-top:1px dashed #999;
}

table tr.caption {
	border-left:1px dashed #999;
}

blockquote {
	border-left:3px solid #709399;
	width:585px;
	float:right;
}

pre {
	width:500px;
	float:right;
}

abbr, acronym {
	border-bottom:1px dashed #709399;
}

strong {
	font-weight: bold;
}

small {
	font-size:70%;
}

big {
	font-size:1.2em;
}

/* GO TO TOP */
/* ----------------------------------------- */

#message {
	display:none;
}

.works {
	display:none;
}